.vs/*
.vscode/*
.git/*
.idea/*
target/*
build/*
.packages

doc/api/*
src/.DS_Store
.DS_Store
Src/.DS_Store?
*.zip

*.cache
*.props
*.targets
*.dgspec.json
*assets.json
o7.csproj.AssemblyReference.cache
obj/*


# Ignore Gradle build output directory
build
.gradle/*
_bin/*
*.bat
gradlew
gradle/*